@import url('/fonts/SFProText.css');
@import url('/fonts/SFProDisplay.css');

body {
  font-family: 'SF Pro Text', Segoe UI, sans-serif;
  line-height: 1.5em;
  margin: 0;
  background: black;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.remote-video {
  /*width: 100vw;
  height: 100vh;*/
  width: 375px;
  height: 375px;
  position: fixed;
  z-index: -1000;
  left: 0;
  top: 0;
  background: black;
  object-fit: cover;
}

/*.remote-video.remote {
  border-radius: 53px;
}*/

.my-video {
  position: fixed;
  z-index: -999;
  background: black;
  object-fit: cover;
  height: 100px;
  width: 80px;
  border-radius: 20px;
  right: 10px;
  bottom: 10px;
  transform: rotateY(180deg);
  transition: .5s cubic-bezier(0.1, 0.82, 0.25, 1);
}

.my-video.big {
  width: 100vw;
  height: 100vh;
  right: 0;
  bottom: 0;
  border-radius: 0;
  transition: none;
  z-index: 4;
}

.messages {
  color: white;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  text-align: center;
  pointer-events: none;
}

.messages div {
  display: grid;
}

.loader2 {
  margin: auto;
  margin-bottom: 10px;
  animation: spin12 1s steps(12) infinite reverse;
}

.button-wrapper {
  position: fixed;
  bottom: 10px;
  width: 100%;
  left: 0;
  pointer-events: none;
  display: grid;
  place-content: center;
  z-index: 5;
}

.button {
  pointer-events: all;
  padding: 8px 15px;
  background: #ffffff2b;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid white;
  color: white;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.prompt-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.82);
  opacity: 0;
  pointer-events: none;
  transition: .2s ease;
}

.prompt-wrapper.visible {
  opacity: 1;
  pointer-events: auto;
}

.prompt {
  width: 15.500em;
  height: 8.736em;
  border-radius: 15px;
  background: #272727;
  text-align: center;
  box-sizing: border-box;
  color: white;
  font-size: 1.06568em;
  line-height: 1.23536;
  position: relative;
  letter-spacing: -0.1px;
  transform: scale(1.05);
  transition: 0s .2s;
}

.prompt-wrapper.visible .prompt {
  transform: none;
  transition: .2s ease;
}

.prompt h1 {
  font-weight: 400;
  font-size: 1.06568em;
  margin: 0;
  padding: 1.7363em;
  line-height: 1.23536;
  letter-spacing: -.022em;
  height: calc(100% - 3.27974em);
  height: calc(100% - 2.61974em);
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.buttons {
  border-top: 1px solid #424245;
  width: 15.500em;
  position: absolute;
  height: 3.27974em;
  height: 2.61974em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  bottom: 0;
}

.buttons div {
  line-height: 1.23536;
  font-weight: 400;
  letter-spacing: -.022em;
  color: #2997ff;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 0 15px;
  font-size: 1.06568em;
}

.buttons div:nth-of-type(2) {
  font-weight: 600;
  border-radius: 0 0 15px;
}

.buttons div:hover {
  background: #3C3C3C;
}

.buttons hr {
  margin: 0;
  position: absolute;
  border: 0;
  height: 100%;
  background: #424245;
  width: 1px;
  pointer-events: none;
}

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  height: 375px;
  width: 85px;
  width: 64px;
  background: linear-gradient(90deg, #1F8AFF, #1f8aff00);
  z-index: 4;
  opacity: 0;
  pointer-events: none;
}

.navigation.right {
  background: linear-gradient(90deg, #1f8aff00, #1F8AFF);
  left: calc(375px - 64px);
}

.navigation.visible {
  animation: fade 1s 1s linear forwards;
  opacity: 1;
}

.marker {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 6px white, inset 0 0 0 17px #1F8AFF, 0 0 0 1px RGBA(31, 138, 255, 0.7);
  padding: 7px;
  border: 35px solid rgba(31, 138, 255, 0.2);
  animation: pop .25s cubic-bezier(.18,.89,.32,1.28), 15s .25s fade forwards;
}

@keyframes pop {
  from {
    width: 0;
    height: 0;
    padding: 0;
    border: 0 solid RGBA(31, 138, 255, 0.2);
  }
}

@keyframes fade {
  to {
    opacity: 0;
  }
}

@keyframes spin12 {
  to {
    transform: rotate(1turn);
  }
}

.onboard {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background: #fbfbfd;
  display: grid;
  place-content: center;
  text-align: center;
  z-index: 4;
  color: #1d1d1f;
}

.stages {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.stages:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 10px;
  background: linear-gradient(90deg, #fbfbfd, transparent);
  z-index: 1;
}

.stages:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 10px;
  background: linear-gradient(-90deg, #fbfbfd, transparent);
  z-index: 1;
}

.stage-one {
  position: relative;
  left: 0;
  transition: .2s ease;
  width: 100%;
}

.stage-two {
  position: absolute;
  left: 0;
  transition: .2s ease;
  width: 100%;
}

.stages.one .stage-two {
  left: 100%;
}

.stages.two .stage-one {
  left: -100%;
}

.stages .title-icon {
  margin: auto;
  height: 70px;
  opacity: .5;
  margin-bottom: 16px;
}

.stages h2 {
  font-size: 32px;
  line-height: 1.125;
  font-weight: 600;
  letter-spacing: .002em;
  font-family: "SF Pro Display", sans-serif;
  margin: 0;
}

.stages h3 {
  max-width: 280px;
  font-size: 19px;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: .012em;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  width: 90%;
  margin: auto;
  margin-top: 4px;
}

.stages .phone {
  position: relative;
  margin: auto;
  margin-top: .82em;
  display: flex;
  align-items: center;
  width: calc(100% - 30px);
}

#phone-input {
  outline: none;
  font: inherit;
  font-size: 17px;
  line-height: 1.23536;
  font-weight: 400;
  letter-spacing: -.022em;
  padding: 3px 43px 4px;
  width: calc(100% - 30px);
  border-radius: 8px;
  height: 2.11765em;
  padding-right: 0;
  transition: .2s ease;
  border: 2px solid #d6d6d6;
  background: hsla(0,0%,100%,.8);
}

#phone-input:valid {
  border-color: #0070c9;
}

#phone-input:focus {
  border-color: #0071e3;
  box-shadow: 0 0 0 4px rgb(0 125 250 / 60%);
}

.phone-icon {
  position: absolute;
  color: gray;
  height: 18px;
  left: 14px;
  transition: .2s ease;
  pointer-events: none;
}

.phone-submit {
  position: absolute;
  height: 18px;
  right: 14px;
  opacity: 0;
  pointer-events: none;
  transition: .2s ease;
  color: #0071e3;
}

#phone-input:valid ~ .phone-submit {
  opacity: 1;
  pointer-events: all;
}

.apps {
  margin: auto;
  margin-top: .82em;
  height: 48px;
}

.apps svg {
  margin: 0 12px;
  border-radius: 22.5%;
  height: 48px;
  width: 48px;
  -webkit-mask: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill-rule%3D%22evenodd%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%221.41%22%20clip-rule%3D%22evenodd%22%20version%3D%221.1%22%20viewBox%3D%220%200%20460%20460%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M460%20316.1c0%205.5%200%2010.99-.04%2016.48-.03%204.63-.08%209.26-.2%2013.88a201.73%20201.73%200%200%201-2.66%2030.21c-1.71%2010-4.9%2019.68-9.47%2028.73a96.6%2096.6%200%200%201-42.23%2042.23%20101.86%20101.86%200%200%201-28.71%209.46c-10%201.65-20.1%202.54-30.22%202.66a649%20649%200%200%201-13.88.21c-5.5.03-10.99.03-16.48.03H143.89c-5.49%200-10.98%200-16.48-.03a648.8%20648.8%200%200%201-13.88-.2%20201.46%20201.46%200%200%201-30.22-2.67c-9.99-1.7-19.67-4.9-28.71-9.46a96.61%2096.61%200%200%201-42.23-42.22%20101.96%20101.96%200%200%201-9.47-28.74%20201.6%20201.6%200%200%201-2.66-30.2c-.12-4.63-.18-9.26-.2-13.89C0%20327.08%200%20321.6%200%20316.1V143.9c0-5.5%200-11%20.04-16.5.02-4.62.08-9.25.2-13.87a201.64%20201.64%200%200%201%202.66-30.2c1.71-10%204.9-19.68%209.47-28.74A96.6%2096.6%200%200%201%2054.6%2012.36%20101.96%20101.96%200%200%201%2083.3%202.9c10-1.64%2020.1-2.53%2030.22-2.66%204.63-.12%209.26-.18%2013.88-.2%205.5-.03%2011-.03%2016.48-.03H316.1c5.5%200%2011%200%2016.49.03a649%20649%200%200%201%2013.88.2c10.12.13%2020.22%201.02%2030.21%202.66%2010%201.71%2019.67%204.9%2028.72%209.46a96.58%2096.58%200%200%201%2042.24%2042.23%20101.92%20101.92%200%200%201%209.46%2028.73%20201.7%20201.7%200%200%201%202.66%2030.21c.12%204.63.18%209.26.2%2013.88.04%205.5.04%2010.99.04%2016.48V316.1z%22%2F%3E%3C%2Fsvg%3E%0A) center/100% 100% no-repeat;
  mask: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill-rule%3D%22evenodd%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%221.41%22%20clip-rule%3D%22evenodd%22%20version%3D%221.1%22%20viewBox%3D%220%200%20460%20460%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M460%20316.1c0%205.5%200%2010.99-.04%2016.48-.03%204.63-.08%209.26-.2%2013.88a201.73%20201.73%200%200%201-2.66%2030.21c-1.71%2010-4.9%2019.68-9.47%2028.73a96.6%2096.6%200%200%201-42.23%2042.23%20101.86%20101.86%200%200%201-28.71%209.46c-10%201.65-20.1%202.54-30.22%202.66a649%20649%200%200%201-13.88.21c-5.5.03-10.99.03-16.48.03H143.89c-5.49%200-10.98%200-16.48-.03a648.8%20648.8%200%200%201-13.88-.2%20201.46%20201.46%200%200%201-30.22-2.67c-9.99-1.7-19.67-4.9-28.71-9.46a96.61%2096.61%200%200%201-42.23-42.22%20101.96%20101.96%200%200%201-9.47-28.74%20201.6%20201.6%200%200%201-2.66-30.2c-.12-4.63-.18-9.26-.2-13.89C0%20327.08%200%20321.6%200%20316.1V143.9c0-5.5%200-11%20.04-16.5.02-4.62.08-9.25.2-13.87a201.64%20201.64%200%200%201%202.66-30.2c1.71-10%204.9-19.68%209.47-28.74A96.6%2096.6%200%200%201%2054.6%2012.36%20101.96%20101.96%200%200%201%2083.3%202.9c10-1.64%2020.1-2.53%2030.22-2.66%204.63-.12%209.26-.18%2013.88-.2%205.5-.03%2011-.03%2016.48-.03H316.1c5.5%200%2011%200%2016.49.03a649%20649%200%200%201%2013.88.2c10.12.13%2020.22%201.02%2030.21%202.66%2010%201.71%2019.67%204.9%2028.72%209.46a96.58%2096.58%200%200%201%2042.24%2042.23%20101.92%20101.92%200%200%201%209.46%2028.73%20201.7%20201.7%200%200%201%202.66%2030.21c.12%204.63.18%209.26.2%2013.88.04%205.5.04%2010.99.04%2016.48V316.1z%22%2F%3E%3C%2Fsvg%3E%0A) center/100% 100% no-repeat;
}
