<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Video meetings with AR markers.">

    <title>Camarker - Join Meeting</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
<body>
  <div class="video-wrapper">
    <div class="wrapper">
      <video class="remote-video" playsinline="" crossorigin="anonymous"></video>
    </div>
  </div>
  <video class="my-video" playsinline="" crossorigin="anonymous"></video>
  <div class="messages"></div>
  <div class="button-wrapper">
    <div class="button" onclick="copy('https://camarker.herokuapp.com/?room='+this.id);this.innerHTML='Copied'" style="display:none">Copy link</div>
  </div>
  <div class="prompt-wrapper">
    <div class="prompt">
      <h1>Allow rotation access to place markers</h1>
      <div class="buttons">
        <div onclick="promptEl.classList.remove('visible')">Cancel</div>
        <hr>
        <div onclick="promptEl.classList.remove('visible');requestPermission()">Allow</div>
      </div>
    </div>
  </div>

<!-- import libraries -->
<script src="/lib/peerjs.js"></script>
<script src="/lib/three.min.js"></script>
<script src="/lib/CSS2DRenderer.js"></script>

<!-- import the webpage's client-side javascript files -->
<script src="/main.js" type="module"></script>
<script src="/DeviceOrientationController.js"></script>
<script src="/world.js"></script>
<script src="/gyro.js"></script>
</body>
</html>
