<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Video meetings with AR markers.">

    <title>Camarker - Join Meeting</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import libraries -->
    <script src="/lib/peerjs.js"></script>
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/main.js" type="module"></script>
  </head>
<body>
  <video class="remote-video" playsinline="" crossorigin="anonymous"></video>
  <div class="messages"></div>
  <div class="button-wrapper">
    <div class="button" onclick="copy(this.id)" style="display:none">Copy link</div>
  </div>
</body>
</html>
