@import url('https://bassets.github.io/SFProText/SFProText.css');

body {
  font-family: 'SF Pro Text', Segoe UI, sans-serif;
  line-height: 1.5em;
  margin: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.remote-video {
  width: 100vw;
  position: fixed;
  z-index: -1000;
  left: 0;
  top: 0;
  background: black;
  height: 100vh;
  object-fit: cover;
}

.my-video {
  position: fixed;
  z-index: -999;
  background: black;
  object-fit: cover;
  height: 100px;
  width: 80px;
  border-radius: 20px;
  right: 10px;
  bottom: 10px;
  transition: .5s cubic-bezier(0.1, 0.82, 0.25, 1);
}

.my-video.big {
  width: 100vw;
  height: 100vh;
  right: 0;
  bottom: 0;
  border-radius: 0;
  transition: none;
}

.messages {
  color: white;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  text-align: center;
  pointer-events: none;
}

.messages div {
  display: grid;
}

.loader2 {
  margin: auto;
  margin-bottom: 10px;
  animation: spin12 1s steps(12) infinite reverse;
}

.button-wrapper {
  position: fixed;
  bottom: 10px;
  width: 100%;
  left: 0;
  pointer-events: none;
  display: grid;
  place-content: center;
  z-index: 5;
}

.button {
  pointer-events: all;
  padding: 8px 15px;
  background: #ffffff2b;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid white;
  color: white;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.prompt-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.82);
  opacity: 0;
  pointer-events: none;
  transition: .2s ease;
}

.prompt-wrapper.visible {
  opacity: 1;
  pointer-events: auto;
}

.prompt {
  width: 200px;
  height: 120px;
  border-radius: 15px;
  background: #272727;
  text-align: center;
  box-sizing: border-box;
  color: white;
  font-size: 13.5px;
  line-height: 1.561;
  position: relative;
  letter-spacing: -0.1px;
  transform: scale(1.05);
  transition: .2s ease;
}

.prompt-wrapper.visible .prompt {
  transform: none;
}

.prompt h1 {
  font-weight: 400;
  font-size: inherit;
  margin: 0;
  padding: 15px;
  line-height: 1.23536;
  letter-spacing: -.022em;
  height: calc(100% - 35px);
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.buttons {
  border-top: 1px solid #424245;
  width: 200px;
  position: absolute;
  top: 85px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buttons div {
  font-size: 13.5px;
  line-height: 1.23536;
  font-weight: 300;
  letter-spacing: -.022em;
  color: #2997ff;
  width: 50%;
  height: 100%;
  margin-top: -0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 0 15px;
}

.buttons div:nth-of-type(2) {
  font-weight: 600;
  border-radius: 0 0 15px;
}

.buttons div:hover {
  background: #3C3C3C;
}

.buttons hr {
  margin: 0;
  position: absolute;
  border: 0;
  height: 34px;
  background: #424245;
  width: 1px;
  pointer-events: none;
  margin-top: -0.5px;
}

.marker {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 6px white, inset 0 0 0 17px #1F8AFF, 0 0 0 1px RGBA(31, 138, 255, 0.7);
  padding: 7px;
  border: 35px solid RGBA(31, 138, 255, 0.2);
  animation: pop .25s cubic-bezier(.18,.89,.32,1.28); /*, 10s .25s fade forwards;*/
}

@keyframes pop {
  from {
    width: 0;
    height: 0;
    padding: 0;
    border: 0 solid RGBA(31, 138, 255, 0.2);
  }
}

@keyframes fade {
  to {
    opacity: 0;
  }
}

@keyframes spin12 {
  to {
    transform: rotate(1turn);
  }
}
